# compiled output
dist/

# dependencies
node_modules/

# environment
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# Salesforce DX
.sfdx/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
data/.env

*.xlsx
*.pdf